* {
    border: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
}
form {
    width: 300px;
    background-color: #ABC;
    border: #9AB;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-49%);
}
.izquierda {
    text-align: right;
    float:left
}
.derecha {
    float: left;
    margin: 0 30px 0;
}
.centro {
    text-align: center;
}
input {
    border: 2px solid #DDF;
    border-radius: 5px;
}